
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
robots.txt
humans.txt
icon.png
tile.png
LICENSE.txt
